* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}
div{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;
    /* border: 2px solid rgb(207, 207, 238); */
    border-radius: 15px;
}
div *{
    padding-top: 7px;
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
}
p#location {
    font-size: 20px;
    color: rgb(29, 50, 68);
    /* padding: 5px; */
}
div#social img{
    width: 50px;
    /* padding: 10px; */
}